.theme-default {

	--root-background-color: #F8F9FB;
	--root-background-color_backdrop: rgb(250, 250, 250, 1);

	--root-font-color: rgb(33, 37, 41);
	--root-font-lightcolor: hsl(218, 18%, 60%);
	--root-link-color: dodgerblue;
	--root-ribbon-background-color: white;
	--root-ribbon-border-color: hsl(0, 0%, 85%);
	--root-ribbon-font-color: black;
	--root-ribbon-menu-background-color: rgba(255, 255, 255, 1);
	--root-ribbon-menu-header-background-color: rgba(255, 255, 255, .95);
	--root-ribbon-menu-itemhover-background-color: rgb(233, 235, 248);

	--root-input-border-color: white;
	--root-button-border-color: white;
	--root-input-background-color: white;
	--root-button-background-color: white;

	--root-modal-background-color: rgba(259, 259, 259, .5);

	--bomtable-border-color: var(--root-ribbon-border-color);
	--bomtable-background-color: var(--root-ribbon-menu-background-color);
	--bomtable-hover-color: hsl(60, 100%, 90%);
	/*  hsl(60, 100%, 90%); */
	--bomtable-stripes-color: hsl(60, 100%, 95%);


	--input_border-radius: 3px;
	--input_color: rgb(33, 37, 41);
	--input_background-color: white;
	--input_border-color: #ddd;
	--input-hover_border-color: rgb(153, 153, 157);
	--input-focus_border-color: hsl(210, 30%, 95%);
	--input-active_border-color: dodgerblue;
	--input-placeholder_color: rgb(180, 180, 180);


	--static-bgcolor: #fbfbfe;
	--static-border: #ddd;
	--static_hover-border: var(--bomtable-border-color);

	--button-font-color: white;
	--button-border: hsl(206, 100%, 46%);
	--button-bgcolor: hsl(206, 100%, 46%);
	--button_hover-bgcolor: hsl(206, 100%, 40%);
	--button_focus-bgcolor: hsl(206, 100%, 44%);
	--button_active-bgcolor: hsl(206, 100%, 37%);
	--button_disabled-bgcolor: hsl(206, 10%, 94%);


	--buttonred-font-color: white;
	--buttonred-border: hsl(10, 100%, 46%);
	--buttonred-bgcolor: hsl(10, 100%, 46%);
	--buttonred_hover-bgcolor: hsl(10, 100%, 42%);
	--buttonred_focus-bgcolor: hsl(10, 100%, 44%);
	--buttonred_active-bgcolor: hsl(10, 100%, 37%);

	--buttongreen-font-color: white;
	--buttongreen-border: hsl(140, 100%, 40%);
	--buttongreen-bgcolor: hsl(140, 100%, 40%);
	--buttongreen_hover-bgcolor: hsl(140, 100%, 37%);
	--buttongreen_focus-bgcolor: hsl(140, 100%, 38%);
	--buttongreen_active-bgcolor: hsl(140, 100%, 34%);

	--slo-menu-background-color: white;
	--slo-menu-itemhover-background-color: hsl(220, 50%, 96%);
	--slo-menu-itemactive-background-color: hsl(220, 90%, 95%);

	--placeholder-bgcolor: hsl(0, 0%, 94%);
	--placeholder-sweeping-bgcolor: white;
	--flash-bgcolor: hsl(65, 95%, 90%);

	--outline-border-color: gold;
	/* var(--root-ribbon-menu-itemhover-background-color); */
}

.theme-default.dark {
	--root-background-color: rgb(20, 20, 25, 1);
	--root-background-color_backdrop: var(--root-background-color);

	--root-font-color: #eee;
	--root-font-lightcolor: hsl(200, 13%, 65%);
	--root-link-color: hsl(206, 100%, 65%);
	--root-ribbon-background-color: hsl(223, 15%, 15%);
	--root-ribbon-border-color: #5c5c67;
	--root-ribbon-font-color: white;
	--root-ribbon-menu-background-color: hsl(223, 15%, 15%);
	--root-ribbon-menu-header-background-color: hsl(223, 15%, 15%);
	--root-ribbon-menu-itemhover-background-color: rgb(80, 80, 100);

	--root-input-background-color: white;
	--root-input-border-color: white;
	--root-button-background-color: white;
	--root-button-border-color: white;

	--root-modal-background-color: rgba(0, 0, 0, 0.6);

	--bomtable-border-color: var(--root-ribbon-border-color);
	--bomtable-background-color: var(--root-ribbon-menu-background-color);
	--bomtable-hover-color: hsl(220, 30%, 30%);
	/*  hsl(220, 30%, 30%); */
	--bomtable-stripes-color: #202940;


	--input_border-radius: 3px;
	--input_color: hsl(210, 11%, 15%);
	--input_background-color: hsl(223, 23%, 19%);
	--input_border-color: rgb(90, 90, 105);
	--input-hover_border-color: rgb(153, 153, 175);
	--input-focus_border-color: hsl(223, 23%, 13%);
	--input-active_border-color: dodgerblue;
	--input-placeholder_color: rgb(100, 100, 100);


	--static-bgcolor: hsl(223, 25%, 16%);
	--static-border: var(--input_border-color);
	--static_hover-border: var(--bomtable-border-color);

	--button-font-color: white;
	--button-border: hsl(206, 100%, 46%);
	--button-bgcolor: hsl(206, 100%, 46%);
	--button_hover-bgcolor: hsl(206, 100%, 41%);
	--button_focus-bgcolor: hsl(206, 100%, 42%);
	--button_active-bgcolor: hsl(206, 100%, 37%);
	--button_disabled-bgcolor: hsl(240, 11%, 12%);

	--buttonred-font-color: white;
	--buttonred-border: hsl(10, 100%, 46%);
	--buttonred-bgcolor: hsl(10, 100%, 46%);
	--buttonred_hover-bgcolor: hsl(10, 100%, 42%);
	--buttonred_focus-bgcolor: hsl(10, 100%, 44%);
	--buttonred_active-bgcolor: hsl(10, 100%, 37%);

	--buttongreen-font-color: white;
	--buttongreen-border: hsl(140, 100%, 40%);
	--buttongreen-bgcolor: hsl(140, 100%, 40%);
	--buttongreen_hover-bgcolor: hsl(140, 100%, 37%);
	--buttongreen_focus-bgcolor: hsl(140, 100%, 38%);
	--buttongreen_active-bgcolor: hsl(140, 100%, 34%);

	--slo-menu-background-color: hsl(223, 15%, 15%);
	--slo-menu-itemhover-background-color: hsl(220, 15%, 22%);
	--slo-menu-itemactive-background-color: hsl(220, 20%, 26%);

	--placeholder-bgcolor: #202940;
	--placeholder-sweeping-bgcolor: hsl(223, 25%, 25%);
	--flash-bgcolor: hsl(65, 5%, 37%);

	--outline-border-color: gold;

}

@media (prefers-color-scheme: dark) {}