@font-face {
  font-family: 'glyphs';
  src:
    url('fonts/glyphs.ttf?9o027s') format('truetype'),
    url('fonts/glyphs.woff?9o027s') format('woff'),
    url('fonts/glyphs.svg?9o027s#glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'glyphs' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniF00C:before {
  content: "\e900";
}
.icon-uniF00D:before {
  content: "\e901";
}
.icon-uniF00D1:before {
  content: "\e902";
}
.icon-uniF00D11:before {
  content: "\e903";
}
.icon-uniE617:before {
  content: "\e904";
}
.icon-uniE61A:before {
  content: "\e905";
}
.icon-uniE9D4:before {
  content: "\e906";
}
.icon-uniE9B9:before {
  content: "\e907";
}
.icon-uniE608:before {
  content: "\e908";
}
.icon-uniE609:before {
  content: "\e909";
}
.icon-uniE60A:before {
  content: "\e90a";
}
.icon-uniE60F:before {
  content: "\e90b";
}
.icon-uniE610:before {
  content: "\e90c";
}
.icon-uniE612:before {
  content: "\e90d";
}
.icon-uniE614:before {
  content: "\e90e";
}
.icon-uniE615:before {
  content: "\e90f";
}
.icon-uniE9CD:before {
  content: "\e910";
}
.icon-uniE618:before {
  content: "\e911";
}
.icon-uniE618-copy:before {
  content: "\e912";
}
.icon-uniE986:before {
  content: "\e913";
}
.icon-uniE987:before {
  content: "\e914";
}
.icon-uniE988:before {
  content: "\e915";
}
.icon-uniE61C:before {
  content: "\e916";
}
.icon-uniE61D:before {
  content: "\e917";
}
.icon-uniE61E:before {
  content: "\e918";
}
.icon-uniE61F:before {
  content: "\e919";
}
.icon-uniE620:before {
  content: "\e91a";
}
.icon-uniE621:before {
  content: "\e91b";
}
.icon-uniE622:before {
  content: "\e91c";
}
.icon-uniE623:before {
  content: "\e91d";
}
.icon-uniE624:before {
  content: "\e91e";
}
.icon-uniE625:before {
  content: "\e91f";
}
.icon-uniE626:before {
  content: "\e920";
}
.icon-uniE627:before {
  content: "\e921";
}
.icon-uniE628:before {
  content: "\e922";
}
.icon-uniE629:before {
  content: "\e923";
}
.icon-uniE62A:before {
  content: "\e924";
}
.icon-uniE62B:before {
  content: "\e925";
}
.icon-uniE9CE:before {
  content: "\e926";
}
.icon-uniE9CF:before {
  content: "\e927";
}
.icon-uniE9D1:before {
  content: "\e928";
}
.icon-uniEA41:before {
  content: "\e929";
}
.icon-uniEA42:before {
  content: "\e92a";
}
.icon-uniEA43:before {
  content: "\e92b";
}
.icon-uniEA44:before {
  content: "\e92c";
}
.icon-uniEA08:before {
  content: "\e92d";
}
.icon-uniEA09:before {
  content: "\e92e";
}
.icon-uniEA0C:before {
  content: "\e92f";
}
.icon-uniEA54:before {
  content: "\e930";
}
.icon-uniEA56:before {
  content: "\e931";
}
.icon-uniF200:before {
  content: "\e932";
}
.icon-uniE99D:before {
  content: "\e933";
}
.icon-uniE62C:before {
  content: "\e934";
}
.icon-uniE62D:before {
  content: "\e935";
}
.icon-uniE62E:before {
  content: "\e936";
}
.icon-uniE62F:before {
  content: "\e937";
}
.icon-uniE630:before {
  content: "\e938";
}
.icon-uniE631:before {
  content: "\e939";
}
.icon-uniE632:before {
  content: "\e93a";
}
.icon-uniE633:before {
  content: "\e93b";
}
.icon-uniE639:before {
  content: "\e93c";
}
.icon-uniE63A:before {
  content: "\e93d";
}
.icon-uniE63D:before {
  content: "\e93e";
}
.icon-uniE643:before {
  content: "\e93f";
}
.icon-uniE644:before {
  content: "\e940";
}
.icon-uniE645:before {
  content: "\e941";
}
.icon-uniE646:before {
  content: "\e942";
}
.icon-uniE647:before {
  content: "\e943";
}
.icon-uniE648:before {
  content: "\e944";
}
.icon-uniE649:before {
  content: "\e945";
}
.icon-uniE64A:before {
  content: "\e946";
}
.icon-uniE64B:before {
  content: "\e947";
}
.icon-uniE900:before {
  content: "\e948";
}
.icon-uniE903:before {
  content: "\e949";
}
.icon-uniE904:before {
  content: "\e94a";
}
.icon-uniE906:before {
  content: "\e94b";
}
.icon-uniE90A:before {
  content: "\e94c";
}
.icon-uniE90D:before {
  content: "\e94d";
}
.icon-uniE915:before {
  content: "\e94e";
}
.icon-uniE60B:before {
  content: "\e94f";
}
.icon-uniE91C:before {
  content: "\e950";
}
.icon-uniE60D:before {
  content: "\e951";
}
.icon-uniE60C:before {
  content: "\e952";
}
.icon-uniE60E:before {
  content: "\e953";
}
.icon-uniE91F:before {
  content: "\e954";
}
.icon-uniE920:before {
  content: "\e955";
}
.icon-uniE922:before {
  content: "\e956";
}
.icon-uniE923:before {
  content: "\e957";
}
.icon-uniE924:before {
  content: "\e958";
}
.icon-uniE926:before {
  content: "\e959";
}
.icon-uniE92C:before {
  content: "\e95a";
}
.icon-uniE92D:before {
  content: "\e95b";
}
.icon-uniE92E:before {
  content: "\e95c";
}
.icon-uniE92F:before {
  content: "\e95d";
}
.icon-uniE930:before {
  content: "\e95e";
}
.icon-uniE931:before {
  content: "\e95f";
}
.icon-uniE932:before {
  content: "\e960";
}
.icon-uniE937:before {
  content: "\e961";
}
.icon-uniE939:before {
  content: "\e962";
}
.icon-uniE93B:before {
  content: "\e963";
}
.icon-uniE93C:before {
  content: "\e964";
}
.icon-uniE93F:before {
  content: "\e965";
}
.icon-uniE940:before {
  content: "\e966";
}
.icon-uniE941:before {
  content: "\e967";
}
.icon-uniE942:before {
  content: "\e968";
}
.icon-uniE944:before {
  content: "\e969";
}
.icon-uniE945:before {
  content: "\e96a";
}
.icon-uniE947:before {
  content: "\e96b";
}
.icon-uniE948:before {
  content: "\e96c";
}
.icon-uniE94E:before {
  content: "\e96d";
}
.icon-uniE952:before {
  content: "\e96e";
}
.icon-uniE953:before {
  content: "\e96f";
}
.icon-uniE954:before {
  content: "\e970";
}
.icon-uniE956:before {
  content: "\e971";
}
.icon-uniE958:before {
  content: "\e972";
}
.icon-uniE95C:before {
  content: "\e973";
}
.icon-uniE95D:before {
  content: "\e974";
}
.icon-uniE960:before {
  content: "\e975";
}
.icon-uniE961:before {
  content: "\e976";
}
.icon-uniE962:before {
  content: "\e977";
}
.icon-uniE964:before {
  content: "\e978";
}
.icon-uniE96B:before {
  content: "\e979";
}
.icon-uniE971:before {
  content: "\e97a";
}
.icon-uniE972:before {
  content: "\e97b";
}
.icon-uniE973:before {
  content: "\e97c";
}
.icon-uniE974:before {
  content: "\e97d";
}
.icon-uniE975:before {
  content: "\e97e";
}
.icon-uniE979:before {
  content: "\e97f";
}
.icon-uniE989:before {
  content: "\e980";
}
.icon-uniE98D:before {
  content: "\e981";
}
.icon-uniE98F:before {
  content: "\e982";
}
.icon-uniE990:before {
  content: "\e983";
}
.icon-uniE991:before {
  content: "\e984";
}
.icon-uniE994:before {
  content: "\e985";
}
.icon-uniE995:before {
  content: "\e986";
}
.icon-uniE997:before {
  content: "\e987";
}
.icon-uniE99A:before {
  content: "\e988";
}
.icon-uniE99B:before {
  content: "\e989";
}
.icon-uniE99C:before {
  content: "\e98a";
}
.icon-uniE99F:before {
  content: "\e98b";
}
.icon-uniE9AB:before {
  content: "\e98c";
}
.icon-uniE9AC:before {
  content: "\e98d";
}
.icon-uniE9B0:before {
  content: "\e98e";
}
.icon-uniE9B6:before {
  content: "\e98f";
}
.icon-uniE9B7:before {
  content: "\e990";
}
.icon-uniE9B8:before {
  content: "\e991";
}
.icon-uniE9BC:before {
  content: "\e992";
}
.icon-uniE9BD:before {
  content: "\e993";
}
.icon-uniE9C5:before {
  content: "\e994";
}
.icon-uniE9C6:before {
  content: "\e995";
}
.icon-uniE9C9:before {
  content: "\e996";
}
.icon-uniE9CA:before {
  content: "\e997";
}
.icon-uniE9D2:before {
  content: "\e998";
}
.icon-uniE9D7:before {
  content: "\e999";
}
.icon-uniE9D9:before {
  content: "\e99a";
}
.icon-uniEA13:before {
  content: "\e99b";
}
.icon-uniEA14:before {
  content: "\e99c";
}
.icon-uniEA1C:before {
  content: "\e99d";
}
.icon-uniEA1D:before {
  content: "\e99e";
}
.icon-uniEA1E:before {
  content: "\e99f";
}
.icon-uniEA2F:before {
  content: "\e9a0";
}
.icon-uniEA30:before {
  content: "\e9a1";
}
.icon-uniEA4E:before {
  content: "\e9a2";
}
.icon-uniEA52:before {
  content: "\e9a3";
}
.icon-uniEA53:before {
  content: "\e9a4";
}
.icon-uniEA5A:before {
  content: "\e9a5";
}
.icon-uniEA6E:before {
  content: "\e9a6";
}
.icon-uniEA70:before {
  content: "\e9a7";
}
.icon-uniEA7D:before {
  content: "\e9a8";
}
.icon-uniEA7E:before {
  content: "\e9a9";
}
.icon-uniEAA0:before {
  content: "\e9aa";
}
.icon-uniEADE:before {
  content: "\e9ab";
}
.icon-uniE600:before {
  content: "\e9ac";
}
.icon-uniE601:before {
  content: "\e9ad";
}
.icon-uniE602:before {
  content: "\e9ae";
}
.icon-uniE603:before {
  content: "\e9af";
}
.icon-uniE604:before {
  content: "\e9b0";
}
.icon-uniE605:before {
  content: "\e9b1";
}
.icon-uniE606:before {
  content: "\e9b2";
}
.icon-uniE607:before {
  content: "\e9b3";
}
.icon-uniE90B:before {
  content: "\e9b4";
}
.icon-uniE93D:before {
  content: "\e9b5";
}
.icon-uniE93E:before {
  content: "\e9b6";
}
.icon-uniE943:before {
  content: "\e9b7";
}
.icon-uniE946:before {
  content: "\e9b8";
}
.icon-uniE94F:before {
  content: "\e9b9";
}
.icon-uniE992:before {
  content: "\e9ba";
}
.icon-uniE99E:before {
  content: "\e9bb";
}
.icon-uniE9A0:before {
  content: "\e9bc";
}
.icon-uniE9A4:before {
  content: "\e9bd";
}
.icon-uniE9A9:before {
  content: "\e9be";
}
.icon-uniE9B5:before {
  content: "\e9bf";
}
.icon-uniE9BA:before {
  content: "\e9c0";
}
.icon-uniE9BE:before {
  content: "\e9c1";
}
.icon-uniE9BF:before {
  content: "\e9c2";
}
.icon-uniE9CB:before {
  content: "\e9c3";
}
.icon-uniE9DA:before {
  content: "\e9c4";
}
.icon-uniF00B:before {
  content: "\e9c5";
}
.icon-uniF00E:before {
  content: "\e9c6";
}
.icon-uniF010:before {
  content: "\e9c7";
}
.icon-uniF099:before {
  content: "\e9c8";
}
.icon-uniF09A:before {
  content: "\e9c9";
}
.icon-uniF0C9:before {
  content: "\e9ca";
}
.icon-uniF1F0:before {
  content: "\e9cb";
}
.icon-uniF1F1:before {
  content: "\e9cc";
}
.icon-uniF1F2:before {
  content: "\e9cd";
}
.icon-uniF1F3:before {
  content: "\e9ce";
}
.icon-uniF1F4:before {
  content: "\e9cf";
}
.icon-uniF1F5:before {
  content: "\e9d0";
}
.icon-uniF1FE:before {
  content: "\e9d1";
}
.icon-uniE63C:before {
  content: "\e9d2";
}
.icon-uniE63E:before {
  content: "\e9d3";
}
.icon-uniE63F:before {
  content: "\e9d4";
}
.icon-uniE640:before {
  content: "\e9d5";
}
.icon-uniE641:before {
  content: "\e9d6";
}
.icon-uniE642:before {
  content: "\e9d7";
}
.icon-uniE63B:before {
  content: "\e9d8";
}
