/**PART
 * Modals 
 */

@keyframes keyframePopupHide {
	0% {
		display: flex;
	}

	100% {
		display: none;
		opacity: 0;
	}
}

@keyframes keyframePopupShow {
	0% {
		opacity: 0;
		display: flex;
	}
}

@keyframes keyframeDialogHide {
	0% {
		opacity: 1;
		display: block;
	}

	100% {
		display: none;
		opacity: 0;
	}
}

@keyframes keyframeDialogShow {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}


.appHtmlPopup {
	position: fixed;
	display: none;
	align-items: start;
	justify-content: center;
	inset: var(--root--menubar-height) 0 0 0;
	padding-top: 20px;
	min-height: 200px;
	overflow-y: hidden;
	z-index: 39;
	background-color: var(--root-modal-background-color);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	-moz-backdrop-filter: blur(4px);
	animation: keyframePopupHide var(--transition-speed) forwards;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
}

.appHtmlPopup[open] {
	animation: keyframePopupShow var(--transition-speed) forwards;
	display: flex;
	opacity: 1;
}

.appHtmlPopup>form {
	overflow-y: auto;
	overflow-x: auto;
	text-align: left;
	margin: 0px;
	min-width: 600px;
	max-width: var(--dim-max-width);
	max-height: calc(100% - 20px);

	box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
	border: solid 1px var(--root-ribbon-border-color);
	background-color: var(--root-background-color_backdrop);
	transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
}

.appHtmlPopup>form [data-role="submit"] {
	background: none;
	border: none;
	margin-right: 10px;
	padding: 5px 15px;
	cursor: default;
}

.appHtmlPopup>form [data-role="submit"]:active {
	transform: translateY(0.08rem);
}

.appHtmlPopup>form [data-role="submit"]:active,
.appHtmlPopup>form [data-role="submit"]:focus {
	outline: solid 2px var(--outline-border-color);
	border-radius: 2px;
	text-decoration: none;
	z-index: 2;
}

.appHtmlPopup>form [data-role="submit"]::before {
	font-family: icomoon2;
	content: "\f00c";
	color: var(--root-font-lightcolor);
	font-size: 1.2em;
	transition: color var(--transition-speed) ease;
}

.appHtmlPopup>form [data-role="submit"]:hover::before {
	color: var(--root-link-color);
}

.appHtmlPopup>form::-webkit-scrollbar {
	width: 5px;
}

.appHtmlPopup>form:hover::-webkit-scrollbar-thumb {
	background-color: var(--input-hover_border-color);
}

.appHtmlPopup>form::-webkit-scrollbar-thumb {
	background-color: var(--input_border-color);
}


dialog.appHtmlDialog {
	padding: 0;
	outline: none;
	inset: 0 0 0 0;
	min-width: 400px;
	text-align: left;
	max-width: var(--dim-max-width);
	border: solid 1px var(--root-ribbon-border-color);
	background-color: var(--root-background-color_backdrop);
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
	animation: keyframeDialogHide .2s forwards;
	opacity: 0;
}

dialog.appHtmlDialog[open] {
	opacity: 1;
	animation: keyframeDialogShow .2s forwards;
}

dialog.appHtmlDialog::backdrop {
	background-color: var(--root-modal-background-color);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	-moz-backdrop-filter: blur(2px);
	opacity: 0;
}

dialog.appHtmlDialog[open]::backdrop {
	animation: keyframeDialogShow .2s forwards;
	opacity: 1;
}

dialog.appHtmlDialog:not([open])::backdrop {
	display: block;
	background-color: red;
}

dialog.appHtmlDialog::-webkit-scrollbar {
	width: 5px;
}

dialog.appHtmlDialog:hover::-webkit-scrollbar-thumb {
	background-color: var(--input-hover_border-color);
}

dialog.appHtmlDialog::-webkit-scrollbar-thumb {
	background-color: var(--input_border-color);
}



.messagesys {
	position: fixed;
	top: 23px;
	left: 0px;
	right: 0px;
	text-align: center;
	pointer-events: none;
	z-index: 110;
}

.messagesys>div {
	display: inline-block;
	max-width: 700px;
	min-width: 100px;
	padding: 20px 30px;
	border: none;
	text-align: left;
	pointer-events: all;
	cursor: default;
	color: #fff;
	border-radius: 5px;
}

.messagesys>div>span,
.messagesys>div>div {
	display: inline-block;
	vertical-align: top;
	white-space: normal;

}

.messagesys>div>span:before {
	font-family: icomoon2;
	margin-right: 10px;
	position: relative;
	top: 0px;
}

.messagesys>div.success>span:before {
	content: "\f00c";
}

.messagesys>div.success {
	background-color: rgba(40, 200, 90, 0.75);
}

.messagesys>div.failure>span:before {
	content: "\f00d";
}

.messagesys>div.failure {
	background-color: rgba(255, 20, 20, 0.75);
}


@media only screen and (max-width: 624px) {
	.appHtmlPopup {
		padding-top: 0px;
	}

	.appHtmlPopup>form {
		min-width: auto;
		flex: 1;
		height: 100% !important;
		max-height: 100%;
		box-shadow: none;
		border: none;
	}
}




/**PART
 * TABLES 
 */


table {
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
}

table>tfoot>tr>th,
table>thead>tr>th,
table>tbody>tr>th {
	font-weight: normal;
}

table>tbody>tr:not(:first-child)>td,
table>tbody>tr:not(:first-child)>th,
table>tfoot>tr:not(:first-child)>td {
	border-top: solid 1px var(--bomtable-border-color);
}

table>tbody>tr>td,
table>tfoot>tr>td,
table>tbody>tr>th,
table>tfoot>tr>th {
	padding: 12px 8px;
	white-space: nowrap;
	color: var(--root-font-color);
	background-color: var(--bomtable-background-color);
	transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease, border-color var(--transition-speed) ease;
}

table>tbody>tr>td.console {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 0.9em;
}


table>tbody>tr>td {
	
	/* overflow: hidden;
	overflow-wrap: break-word;
	text-overflow: ellipsis;
	width: 100px;
	max-width: 100px; */
}

table>tbody>tr>th,
table>tfoot>tr>th {
	padding: 10px 8px;
	color: var(--root-link-color);
	border-bottom: none;
	border-right: none;
	border-left: none;
	cursor: default;
}

table>thead>tr>td,
table>tfoot>tr>td {
	color: var(--root-font-color);
	border: solid 1px var(--bomtable-border-color);
	background-color: var(--bomtable-background-color);
	transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
	border-left: none;
	border-right: none;
	padding: 10px 8px;
	white-space: nowrap;
	cursor: default;
	font-weight: normal;
}

table>thead>tr>td {
	border-bottom: solid 1px var(--bomtable-border-color);
	text-transform: uppercase;
	color: var(--root-font-lightcolor);
	font-size: 0.9em
}

table>tfoot>tr>td {
	border-top: solid 1px var(--bomtable-border-color);
}

table>thead>tr:first-child>td,
table>thead>tr:first-child>th {
	border-top: none;
}

table>thead>tr>th {
	border: solid 1px var(--bomtable-border-color);
	height: 25px;
}

table.strip>tbody>tr:nth-child(2n)>td {
	/* background-color: var(--bomtable-stripes-color); */
	font-size: 1em;
}

table.strip.hover>tbody>tr:hover:nth-child(2n)>td,
table.hover>tbody>tr:hover>td {
	/* background-color: var(--bomtable-hover-color) */
	font-size: 1em;
}

table>thead.sticky {
	position: sticky;
	background-color: var(--bomtable-background-color);
	outline: solid .5px gainsboro;
}

table tr>td.op-edit,
table tr>td.op-remove,
table tr>td.op-add,
table tr>td.op-print,
table tr>td.op-donwload,
table tr>td.op-display {
	padding: 0;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table tr>td.op-edit>*,
table tr>td.op-remove>*,
table tr>td.op-add>*,
table tr>td.op-print>*,
table tr>td.op-donwload>*,
table tr>td.op-display>* {
	display: block;
	padding: 0px 8px;
	color: var(--root-font-lightcolor);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}



table tr>td.op-edit>*:before {
	display: inline-block;
	content: "\e906";
	font-family: "icomoon4";
	width: 20px;
	text-align: center;
}

table tr>td.op-edit:hover>* {
	color: #06c
}

table tr>td.op-remove>*:before {
	display: inline-block;
	content: "\e62b";
	font-family: "icomoon";
	width: 20px;
	text-align: center;
}

table tr>td.op-remove:hover>* {
	color: #f03;
}

table tr>td.op-add>*:before {
	display: inline-block;
	content: "\e630";
	font-family: "icomoon";
	width: 20px;
	text-align: center;
}

table tr>td.op-add:hover>* {
	color: #0066cc;
}

table tr>td.op-print>*:before {
	display: inline-block;
	content: "\e63b";
	font-family: "icomoon";
	width: 20px;
	text-align: center;
}

table tr>td.op-print:hover>* {
	color: #ff3c00;
}

table tr>td.op-display>*:before {
	display: inline-block;
	content: "\e9ce";
	font-family: "icomoon4";
	width: 20px;
	text-align: center;
}

table tr>td.op-display:hover>* {
	color: #00cc33;
}

table tr>td.op-donwload>*:before {
	display: inline-block;
	content: "\e60c";
	font-family: "icomoon";
	width: 20px;
	text-align: center;
}

table tr>td.op-donwload:hover>* {
	color: var(--root-link-color);
}


/* #region Table Checkbox*/
table>tbody>tr>td.checkbox {
	position: relative;
	min-width: 38px;
	text-align: center;
}

table>tbody>tr>td.checkbox>label {
	position: absolute;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	inset: 0 0 0 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table>tbody>tr>td.checkbox:not(.disabled)>label:hover,
table>tbody>tr>td.checkbox:not(.disabled)>label:focus {
	outline: solid 2px var(--outline-border-color);
	z-index: 1;
	border-radius: 2px;
}

table>tbody>tr>td.checkbox>label>input {
	visibility: hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: none;
	padding: 0;
	margin: 0;
	position: absolute;
}

table>tbody>tr>td.checkbox>label>input::before {
	visibility: visible;
	display: block;
	position: absolute;
	content: " ";
	border: solid 3px var(--input_border-color);
	border-radius: 10px;
	width: 10px;
	height: 10px;
	transition: border-color 0.2s ease-out;
}

table>tbody>tr>td.checkbox>label>input:not(:disabled)::before {
	background-color: var(--bomtable-background-color);
	border-color: var(--input-hover_border-color);
}


table>tbody>tr>td.checkbox>label>input:after {
	display: block;
	content: " ";
	visibility: visible;
}

table>tbody>tr>td.checkbox>label>input::after,
table>tbody>tr>td.checkbox>label>input[type=radio]::after {
	border-radius: 10px;
	background-color: var(--root-link-color);
	width: 6px;
	height: 6px;
	transform: scale(0);
	transition: transform ease .2s;
}

table>tbody>tr>td.checkbox>label>input:checked::after {
	transform: scale(1);
}

table>tbody>tr>td.checkbox>label>input:checked::before {
	border-color: var(--root-link-color);
}

/* #endregion Table Checkbox*/

table.form-table>tbody>tr>td,
table.form-table>tbody>tr>th,
table.form-table>thead>tr>td,
table.form-table>thead>tr>th {
	padding: 10px 8px;
	border: none;
	background-color: transparent;
}

table.form-table>tbody>tr>th {
	color: var(--root-font-lightcolor);
}