@keyframes keyframePopupHide {
	0% {
		display: flex;
	}

	100% {
		display: none;
		opacity: 0;
	}
}

@keyframes keyframePopupShow {
	0% {
		opacity: 0;
		display: flex;
	}
}

@keyframes keyframeDialogHide {
	0% {
		opacity: 1;
		display: block;
	}

	100% {
		display: none;
		opacity: 0;
	}
}

@keyframes keyframeDialogShow {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}


.appHtmlPopup {
	position: fixed;
	display: none;
	align-items: start;
	justify-content: center;
	inset: var(--root--menubar-height) 0 0 0;
	padding-top: 20px;
	min-height: 200px;
	overflow-y: hidden;
	z-index: 39;
	background-color: var(--root-modal-background-color);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	-moz-backdrop-filter: blur(4px);
	animation: keyframePopupHide var(--transition-speed) forwards;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
}

.appHtmlPopup[open] {
	animation: keyframePopupShow var(--transition-speed) forwards;
	display: flex;
	opacity: 1;
}

.appHtmlPopup>form {
	overflow-y: auto;
	overflow-x: auto;
	text-align: left;
	margin: 0px;
	min-width: 600px;
	max-width: var(--dim-max-width);
	max-height: calc(100% - 20px);

	box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
	border: solid 1px var(--root-ribbon-border-color);
	background-color: var(--root-background-color_backdrop);
	transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
}

.appHtmlPopup>form [data-role="submit"] {
	background: none;
	margin-top: -5px;
	border: none;
	margin-right: 10px;
	padding: 10px 15px;
	cursor: pointer;
}

.appHtmlPopup>form [data-role="submit"]:active,
.appHtmlPopup>form [data-role="submit"]:focus {
	outline: solid 2px var(--root-link-color);
	border-radius: 2px;
	text-decoration: none;
	z-index: 2;
}

.appHtmlPopup>form [data-role="submit"]::before {
	font-family: icomoon2;
	content: "\f00c";
	color: var(--root-font-lightcolor);
	font-size: 1.4em;
	transition: color var(--transition-speed) ease;
}

.appHtmlPopup>form [data-role="submit"]:active::before,
.appHtmlPopup>form [data-role="submit"]:focus::before,
.appHtmlPopup>form [data-role="submit"]:hover::before {
	color: var(--root-link-color);
}

.appHtmlPopup>form::-webkit-scrollbar {
	width: 5px;
}

.appHtmlPopup>form:hover::-webkit-scrollbar-thumb {
	background-color: var(--input-hover_border-color);
}

.appHtmlPopup>form::-webkit-scrollbar-thumb {
	background-color: var(--input_border-color);
}


dialog.appHtmlDialog {
	padding: 0;
	outline: none;
	inset: 0 0 0 0;
	min-width: 400px;
	text-align: left;
	max-width: var(--dim-max-width);
	border: solid 1px var(--root-ribbon-border-color);
	background-color: var(--root-background-color_backdrop);
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
	animation: keyframeDialogHide .2s forwards;
	opacity: 0;
}

dialog.appHtmlDialog[open] {
	opacity: 1;
	animation: keyframeDialogShow .2s forwards;
}

dialog.appHtmlDialog::backdrop {
	background-color: var(--root-modal-background-color);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	-moz-backdrop-filter: blur(2px);
	opacity: 0;
}

dialog.appHtmlDialog[open]::backdrop {
	animation: keyframeDialogShow .2s forwards;
	opacity: 1;
}

dialog.appHtmlDialog:not([open])::backdrop {
	display: block;
	background-color: red;
}

dialog.appHtmlDialog::-webkit-scrollbar {
	width: 5px;
}

dialog.appHtmlDialog:hover::-webkit-scrollbar-thumb {
	background-color: var(--input-hover_border-color);
}

dialog.appHtmlDialog::-webkit-scrollbar-thumb {
	background-color: var(--input_border-color);
}



.messagesys {
	position: fixed;
	top: 23px;
	left: 0px;
	right: 0px;
	text-align: center;
	pointer-events: none;
	z-index: 110;
}

.messagesys>div {
	display: inline-block;
	max-width: 700px;
	min-width: 100px;
	padding: 20px 30px;
	border: none;
	text-align: left;
	pointer-events: all;
	cursor: default;
	color: #fff;
}

.messagesys>div>span,
.messagesys>div>div {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
}

.messagesys>div>span:before {
	font-family: icomoon2;
	margin-right: 10px;
	position: relative;
	top: 0px;
}

.messagesys>div.success>span:before {
	content: "\f00c";
}

.messagesys>div.success {
	background-color: rgb(60, 180, 60)
}

.messagesys>div.failure>span:before {
	content: "\f00d";
}

.messagesys>div.failure {
	background-color: rgb(220, 60, 60);
}




@media only screen and (max-width: 624px) {
	.appHtmlPopup {
		padding-top: 0px;
	}

	.appHtmlPopup>form {
		min-width: auto;
		flex: 1;
		height: 100% !important;
		max-height: 100%;
		box-shadow: none;
		border: none;
	}
}
