label.checkbox{
	border:solid 1px transparent;
	border-radius:4px;
	padding:4px 8px;
	display:inline-block;
	cursor:pointer
}
label.checkbox > span{
	display:inline-block;
	position:relative;
	padding-left:25px;
	color:#666;
}
label.checkbox > input[type=checkbox] ~ span:after{
	display:inline-block;
	content:" ";
	width:18px;
	height:11px;
	position:absolute;
	border-right:solid 1px #888;
	left:0px;
	top:3px;
}
label.checkbox > input[type=checkbox]{
	display:none;
}
label.checkbox > input[type=checkbox]:checked ~ span{
	color:#333;
}
label.checkbox > input[type=checkbox] ~ span:before{
	display:inline-block;
	content:"\e644";
	font-family:"icomoon";
	font-size:1em;
	width:21px;
	text-align:center;
	font-weight:normal;
	vertical-align:middle;
	position:absolute;
	top:0px;
	left:-3px;
	z-index:1;
}
label.checkbox > input[type=checkbox]:checked ~ span:before{
	color:#06c;
	content:"\e644";
}
label.checkbox > input[type=checkbox]:not(:checked) ~ span:before{
	color:#f03;
	content:"\e645";
}
label.checkbox:hover > span,label.checkbox:hover > span{
	color:#06c !important;
}
label.checkbox:hover{
	border-color:#ccc;
	background-color:#fff;
}




























