:root {
	--template-frame_maxwidth: 100%;
	--template-frame_elementBorderColor: #dedede;
}

.template-pageTitle {
	font-size: 2em;
	padding-top: 33px;
	padding-bottom: 20px;
	color: #333;
	background-color: #fff;
	z-index: 30;
	display: flex;
	justify-content: space-between;
	max-width: var(--template-frame_maxwidth);
	min-width: 300px;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
}

.template-commandBar {
	color: #333;
	padding-bottom: 10px;
	background-color: #fff;
	max-width: var(--template-frame_maxwidth);
	min-width: 300px;
	z-index: 40;
}

.template-pageTitle > span:first-of-type {
	min-width: 20px;
}

.template-pageTitle > div:first-of-type {
	flex: 1;
}

.template-frameTitle {
	padding: 0px;
	min-width: 300px;
	max-width: var(--template-frame_maxwidth);
	padding-top: 10px;
	background-color: #fff;
	z-index: 20;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.template-frameBody {
	background-color: #fff;
	min-width: 300px;
	z-index: 20;
	max-width: var(--template-frame_maxwidth);
}

.template-frameBody > div {
	padding-left: 10px;
	margin-top: 10px;
	z-index: 20;
}
















.template-enableSidePanel {
	margin-right: 330px;
	z-index: 20;
}

#template-sidePanel {
	position: fixed;
	top: 42px;
	bottom: 0px;
	width: 310px;
	background-color: #fff;
	overflow: hidden;
	border-left: solid 1px #ddd;
}

#template-sidePanel > div {
	display: table;
	width: 100%;
	max-height: 100%;
	height: 100%;
}

.template-sidePanelRow {
	display: table-row;
}

.template-sidePanelRow > div {
	display: table-cell;
}


#template-sidePanelTitle {
	position: sticky;
	top: 0px;
	background-color: #fff;
	padding: 25px 20px;
	border-bottom: solid 1px var(--template-frame_elementBorderColor);
}


#template-sidePanelContent {
	height: 100%;
	position: relative;
}

#template-sidePanelContent > div {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

#template-sidePanelContent > div {
	scrollbar-width: none;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

#template-sidePanelContent > div::-webkit-scrollbar {
	display: none;
}

#template-sideScrollbar {
	position: absolute;
	right: 4px;
	top: 5px;
	width: 7px;
	height: 15%;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	z-index: 99;
	opacity: 0;
	transition: width 0.05s linear 5s, opacity 0.1s linear 1s;
}

#template-sidePanelContent:hover #template-sideScrollbar {
	opacity: 1;
	transition: opacity 0.05s linear 0s;
}

#template-sideScrollbar:hover,
#template-sideScrollbar.drag-active {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.4);
	transition: opacity 0.05s linear 0s;
}





/*Group Item*/
#template-sidePanelGroupItems {
	display: flex;
	flex-direction: column;
}

#template-sidePanelGroupItems > div {
	background-color: var(--color-background);
	padding: 7px 10px;
	position: sticky;
	top: 0px;
	color: #444;
	cursor: default;
	display: flex;
	border-bottom: solid 1px var(--template-frame_elementBorderColor);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#template-sidePanelGroupItems > div.template-nestPadding {
	padding-left: 20px;
	background-color: #fff;
	color: var(--root-link-color);
	top: 28px
}

#template-sidePanelGroupItems > div > span {
	flex: 1
}

#template-sidePanelGroupItems > div > a.template-IconAdd {
	display: block;
	position: relative;
	width: 27px;
}

#template-sidePanelGroupItems > div > a.template-IconAdd:before {
	position: absolute;
	padding: 7px 9px;
	top: -7px;
	display: block;
	font-family: "icomoon";
	text-align: center;
	content: "\e630";
	color: #888;
}

#template-sidePanelGroupItems > div > a.template-IconAdd:hover:before {
	color: var(--root-link-color);
}


#template-sidePanelGroupItems > a {
	cursor: pointer;
	background-color: #fff;
	padding: 10px 20px;
	color: #333;
	border-bottom: solid 1px var(--template-frame_elementBorderColor);
}

#template-sidePanelGroupItems > a:hover {
	background-color: var(--color-faint-white);
	text-decoration: none;
}

#template-sidePanelGroupItems > a > span.fade {
	color: #666;
}

#template-sidePanelGroupItems > a > span {
	display: flex;
	justify-content: space-between;
}

#template-sidePanelGroupItems > a > span > span {
	padding: 3px 0px;
}

#template-sidePanelGroupItems > a > span > span:first-child {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#template-sidePanelGroupItems > a > span > span:nth-child(2) {
	color: #666;
	font-size: 0.8em
}




/*Auxiliary settings*/
.template-cascadeOverflow {
	position: relative;
	height: 1rem;
}

.template-cascadeOverflow > div {
	position: absolute;
	max-width: 100%;
	height: 1rem;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.template-gridLayout {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.template-gridLayout > div {
	min-width: 200px;
	max-width: 500px;
	flex: 1;
	flex-grow: 1;
	flex-basis: 0;
	margin-bottom: 10px;
	/*padding-right: 10px;;*/
}

.template-gridLayout > div > span {
	display: block;
	padding: 0px 0 3px 0;
	color: rgb(125, 125, 125);
}

.template-gridLayout > div:hover > span {
	color: var(--root-link-color);
	text-decoration: underline;
}

.template-gridLayout > div > div {
	padding: 2px 0px;
}

.template-gridLayout.role-input {
	margin-left: -10px;
}

.template-gridLayout.role-input > div {
	padding: 0 10px;
}

.template-gridLayout.inline-title {
	font-weight: bold;
	padding-bottom: 5px;
	color: var(--root-link-color);
	border-bottom: solid 1px var(--color-background);
	margin-bottom: 10px;
	margin-top: 15px;
}



@media only screen and (max-width: 768px) {
	.template-enableSidePanel {
		margin-right: 0px;
	}

	#template-sidePanel {
		display: none;
	}

	.template-pageTitle {
		font-size: 1.7em;
	}

	.template-frameBody > div {
		padding-left: 0px;
	}
}