.slo-container {
	display: block;
	position: absolute;
	min-width: 100%;
	display: none;
	background-color: #fff;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #000;
	z-index: 99 !important;

	border: solid 1px #fff;
	border-radius: 7px;
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
}

.slo-container>div {
	display: block;
	border: none;
	border-radius: 7px;
	margin: 3px;
	padding: 11px 8px;
	cursor: pointer;
	background-color: #fff;
	z-index: 99 !important;
}


.slo-container>div:hover {
	background-color: #ECF5FF;
	z-index: 99 !important;
}

.slo-container>div.active {
	background-color: rgba(217, 235, 255, 1);
	z-index: 99 !important;
}



.slo-container>div>p {
	display: none;
}

.slo-container>div>span {
	color: #777;
}

.cssSLO_wrap {
	position: relative;
}

.cssSLO_wrap>input[type=text],
.cssSLO_wrap>input[type=number],
.cssSLO_wrap>input[type=date] {
	position: relative;
	outline: none;
	border: solid 1px var(--color-mid-gray);
	width: 100%;
	color: #444;
	padding-right: 25px;
	font-size: 1em;
	border-radius: 0;
}

.cssSLO_wrap>input[type=text]:not(:disabled):hover,
.cssSLO_wrap>input[type=number]:not(:disabled):hover,
.cssSLO_wrap>input[type=date]:not(:disabled):hover {
	border-color: #999;
}


.cssSLO_wrap>input[type=text]:not(:disabled):focus,
.cssSLO_wrap>input[type=number]:not(:disabled):focus,
.cssSLO_wrap>input[type=date]:not(:disabled):focus {
	border-color: rgba(82, 168, 236, .75);
	-webkit-box-shadow: 0 0 4px rgba(82, 168, 236, .5);
	-moz-box-shadow: 0 0 4px rgba(82, 168, 236, .5);
	box-shadow: 0 0 4px rgba(82, 168, 236, .5);
}


.cssSLO_wrap:after {
	font-family: "icomoon4";
	text-align: center;
	position: absolute;
	display: block;
	pointer-events: none;
	content: "";
}

.cssSLO_wrap.valid:after {
	content: "\EA10";
	top: 6px;
	right: 7px;
	font-size: 10px;
	color: dodgerblue;
}

.cssSLO_wrap.unvalid:after {
	content: "\EA0F";
	top: 4px;
	right: 9px;
	font-size: 9px;
	color: red;
}


.cssSLO_wrap.slo-select:after,
.cssSLO_wrap.valid.slo-select:after,
.cssSLO_wrap.unvalid.slo-select:after {
	font-family: "icomoon";
	content: "\e619";
	top: 9px;
	right: 8px;
	font-size: 15px;
	color: dodgerblue;
}




.cssSLO_wrap.slo-select>input {
	user-select: none;
	cursor: default;
	/* background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 90%, rgba(240, 241, 247, 1) 90%); */
}

.cssSLO_wrap.slo-select>input:hover {
	/* background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 90%, rgb(200, 200, 200) 90%); */
}

.cssSLO_wrap.slo-select>input:focus {
	/* border-color: rgba(82, 168, 236, .75); */
	/* box-shadow: 0 0 4px rgba(82, 168, 236, .5); */
	/* background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 90%, rgba(82, 168, 236, .5) 90%); */
}