.bom-table {
	/* border: solid 1px var(--bomtable-border-color); */
	border-collapse: collapse;
	width: 100%;
}

.bom-table>tfoot>tr>th,
.bom-table>thead>tr>th,
.bom-table>tbody>tr>th {
	font-weight: normal;
}

.bom-table>tbody>tr:not(:first-child)>td,
.bom-table>tbody>tr:not(:first-child)>th,
.bom-table>tfoot>tr:not(:first-child)>td {
	border-top: solid 1px var(--bomtable-border-color);
}

.bom-table>tbody>tr>td,
.bom-table>tfoot>tr>td,
.bom-table>tbody>tr>th,
.bom-table>tfoot>tr>th {
	padding: 12px 8px;
	white-space: nowrap;
	color: var(--root-font-color);
	background-color: var(--bomtable-background-color);
	transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease,border-color var(--transition-speed) ease;
}

.bom-table>tbody>tr>td.console {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 0.9em;
}

.bom-table>tbody>tr>th,
.bom-table>tfoot>tr>th {
	padding: 10px 8px;
	color: var(--root-link-color);
	border-bottom: none;
	border-right: none;
	border-left: none;
	cursor: default;
}


.bom-table>thead>tr>td,
.bom-table>tfoot>tr>td {
	color: var(--root-font-color);
	border: solid 1px var(--bomtable-border-color);
	background-color: var(--bomtable-background-color);
	transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
	border-left: none;
	border-right: none;
	padding: 10px 8px;
	white-space: nowrap;
	cursor: default;
	font-weight: normal;
}

.bom-table>thead>tr>td {
	border-bottom: solid 1px var(--bomtable-border-color);
	text-transform: uppercase;
	color: var(--root-font-lightcolor);
	font-size: 0.9em
}

.bom-table>tfoot>tr>td {
	border-top: solid 1px var(--bomtable-border-color);
}


.bom-table>thead>tr:first-child>td,
.bom-table>thead>tr:first-child>th {
	border-top: none;
}


.bom-table>thead>tr>th {
	border: solid 1px var(--bomtable-border-color);
	height: 25px;
}





.bom-table.strip>tbody>tr:nth-child(2n)>td {
	/* background-color: var(--bomtable-stripes-color); */
	font-size: 1em;
}

.bom-table.strip.hover>tbody>tr:hover:nth-child(2n)>td,
.bom-table.hover>tbody>tr:hover>td {
	/* background-color: var(--bomtable-hover-color) */
	font-size: 1em;
}

.bom-table>thead.sticky {
	position: sticky;
	background-color: var(--bomtable-background-color);
	outline: solid .5px gainsboro;
}





.bom-table tr>td.op-edit,
.bom-table tr>td.op-remove,
.bom-table tr>td.op-add,
.bom-table tr>td.op-print,
.bom-table tr>td.op-donwload,
.bom-table tr>td.op-display {
	padding: 0;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bom-table tr>td.op-edit>*,
.bom-table tr>td.op-remove>*,
.bom-table tr>td.op-add>*,
.bom-table tr>td.op-print>*,
.bom-table tr>td.op-donwload>*,
.bom-table tr>td.op-display>* {
	display: block;
	padding: 0px 8px;
	color: var(--root-font-lightcolor);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}



.bom-table tr>td.op-edit>*:before {
	display: inline-block;
	content: "\e906";
	font-family: "icomoon4";
	width: 20px;
	text-align: center;
}

.bom-table tr>td.op-edit:hover>* {
	color: #06c
}

.bom-table tr>td.op-remove>*:before {
	display: inline-block;
	content: "\e62b";
	font-family: "icomoon";
	width: 20px;
	text-align: center;
}

.bom-table tr>td.op-remove:hover>* {
	color: #f03;
}

.bom-table tr>td.op-add>*:before {
	display: inline-block;
	content: "\e630";
	font-family: "icomoon";
	width: 20px;
	text-align: center;
}

.bom-table tr>td.op-add:hover>* {
	color: #0066cc;
}

.bom-table tr>td.op-print>*:before {
	display: inline-block;
	content: "\e63b";
	font-family: "icomoon";
	width: 20px;
	text-align: center;
}

.bom-table tr>td.op-print:hover>* {
	color: #ff3c00;
}

.bom-table tr>td.op-display>*:before {
	display: inline-block;
	content: "\e9ce";
	font-family: "icomoon4";
	width: 20px;
	text-align: center;
}

.bom-table tr>td.op-display:hover>* {
	color: #00cc33;
}

.bom-table tr>td.op-donwload>*:before {
	display: inline-block;
	content: "\e60c";
	font-family: "icomoon";
	width: 20px;
	text-align: center;
}

.bom-table tr>td.op-donwload:hover>* {
	color: var(--root-link-color);
}



















/* #region Table Checkbox*/
.bom-table>tbody>tr>td.checkbox {
	position: relative;
	min-width: 38px;
	text-align: center;
}

.bom-table>tbody>tr>td.checkbox>label {
	position: absolute;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	inset: 0 0 0 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bom-table>tbody>tr>td.checkbox>label:hover {
	outline: solid 2px var(--button-border);
	z-index: 1;
	border-radius: 2px;
}

.bom-table>tbody>tr>td.checkbox>label>input {
	visibility: hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: none;
	padding: 0;
	margin: 0;
	position: absolute;
}

.bom-table>tbody>tr>td.checkbox>label>input::before {
	visibility: visible;
	display: block;
	position: absolute;
	content: " ";
	border: solid 3px var(--input-border);
	border-radius: 10px;
	width: 10px;
	height: 10px;
	transition: border-color 0.2s ease-out;
}

.bom-table>tbody>tr>td.checkbox>label>input:hover::before {
	background-color: var(--bomtable-background-color);
	border-color: var(--input_hover-color);
}


.bom-table>tbody>tr>td.checkbox>label>input:after {
	display: block;
	content: " ";
	visibility: visible;
}

.bom-table>tbody>tr>td.checkbox>label>input::after,
.bom-table>tbody>tr>td.checkbox>label>input[type=radio]::after {
	border-radius: 10px;
	background-color: var(--root-link-color);
	width: 6px;
	height: 6px;
	transform: scale(0);
	transition: transform ease .2s;
}

.bom-table>tbody>tr>td.checkbox>label>input:checked::after {
	transform: scale(1);
}

.bom-table>tbody>tr>td.checkbox>label>input:checked::before {
	border-color: var(--root-link-color);
}

/* #endregion Table Checkbox*/



.bom-table.form-table>tbody>tr>td,
.bom-table.form-table>tbody>tr>th,
.bom-table.form-table>thead>tr>td,
.bom-table.form-table>thead>tr>th {
	padding: 10px 8px;
	border: none;
	background-color: transparent;
}

.bom-table.form-table>tbody>tr>th {
	color: var(--root-font-lightcolor);
}





@media only screen and (max-width: 480px) {}