.js_uploader_btn {
	display: none !important;
}

.js_upload_count {
	position: relative;
	padding-right: 22px !important;
}

.js_upload_count::before {
	position: absolute;
	display: block;
	font-family: "icomoon";
	content: "\e619";
	right: 0px;
	width: 20px;
	height: 100%;
	display: flex;
	align-items: center;
}

.js_upload_count::after {
	content: "files";
	padding-left: 5px;
}

.js_upload_list {
	position: absolute;
	width: 0px;
	z-index: 101;
	padding: 0px !important;
	visibility: hidden;
}

.js_upload_list>div {
	position: absolute;
	display: none;
	visibility: visible;
	border: solid 1px #aaa;
	top: 100%;
	margin-top: 2px;

	min-width: 200px;
	min-height: 30px;
	max-height: 221px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: var(--root-ribbon-menu-background-color);
	border-collapse: collapse;

	border: solid 1px var(--root-ribbon-border-color);

	/* border-color: rgba(82, 168, 236, .75);
	-webkit-box-shadow: 0 0 4px rgba(82, 168, 236, .7);
	-moz-box-shadow: 0 0 4px rgba(82, 168, 236, .7);
	box-shadow: 0 0 4px rgba(82, 168, 236, .7); */

}

.js_upload_list>div>table>tbody>tr>td.content {
	width: 100%;
}

.js_upload_list>div>table>tbody>tr>td.progress {
	text-align: center;
}