@keyframes hide {
	0% {
		display: flex;
	}

	100% {
		display: none;
		opacity: 0;
	}
}

@keyframes show {
	0% {
		opacity: 0;
		display: flex;
	}
}

.appHtmlPopup {
	position: fixed;
	display: none;
	align-items: start;
	justify-content: center;
	inset: var(--root--menubar-height) 0 0 0;
	padding-top: 20px;
	min-height: 200px;
	overflow-y: hidden;
	z-index: 39;
	background-color: var(--root-modal-background-color);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	-moz-backdrop-filter: blur(4px);
	animation: hide var(--transition-speed) forwards;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
}

.appHtmlPopup[open] {
	animation: show var(--transition-speed) forwards;
	display: flex;
	opacity: 1;
}

.appHtmlPopup>form {
	overflow-y: auto;
	overflow-x: auto;
	text-align: left;
	margin: 0px;
	min-width: 600px;
	max-width: var(--dim-max-width);
	max-height: calc(100% - 20px);

	box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
	border: solid 1px var(--root-ribbon-border-color);
	background-color: var(--root-background-color_backdrop);
	transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
}


.appHtmlPopup>form [data-role="submit"] {
	background: none;
	margin-top: -5px;
	border: none;
	margin-right: 10px;
	padding: 10px 15px;
	cursor: pointer;
}

.appHtmlPopup>form [data-role="submit"]:active,
.appHtmlPopup>form [data-role="submit"]:focus {
	outline: solid 2px var(--root-link-color);
	border-radius: 2px;
	text-decoration: none;
	z-index: 2;
}

.appHtmlPopup>form [data-role="submit"]::before {
	font-family: icomoon2;
	content: "\f00c";
	color: var(--root-font-lightcolor);
	font-size: 1.4em;
	transition: color var(--transition-speed) ease;
}

.appHtmlPopup>form [data-role="submit"]:active::before,
.appHtmlPopup>form [data-role="submit"]:focus::before,
.appHtmlPopup>form [data-role="submit"]:hover::before {
	color: var(--root-link-color);
}

.appHtmlPopup>form::-webkit-scrollbar {
	width: 5px;
}

.appHtmlPopup>form:hover::-webkit-scrollbar-thumb {
	background-color: var(--input-hover_border-color);
}

.appHtmlPopup>form::-webkit-scrollbar-thumb {
	background-color: var(--input_border-color);
}


@media only screen and (max-width: 624px) {
	.appHtmlPopup {
		padding-top: 0px;
	}

	.appHtmlPopup>form {
		min-width: auto;
		flex: 1;
		height: 100% !important;
		max-height: 100%;
		box-shadow: none;
		border: none;
	}
}