.btn-set {
	--elemntBorderColor: rgb(200,200,210);
	display: flex;
	flex-wrap: nowrap;
	display: flex;
	
}

.btn-set.center {
	justify-content: center;
}


.btn-set>* {
	padding: 8px 10px;
	outline: none;
	background-color: #fff;
	border: solid 1px var(--elemntBorderColor);
	display: inline-block;
	vertical-align: top;
	height: 32px;
	position: relative;
	margin-left: -1px;
	white-space: nowrap;
	/* box-shadow: 2px 2px 2px rgba(200,200,200,0.3); */
}

.btn-set>*:first-child {
	margin-left: 0px;
}


/* #region - Components*/

.btn-set>span {
	white-space: nowrap;
	padding-top: 9px;
	color: #444;
	background-color: rgba(240, 240, 245, .5);
	/* background-color: var(--softBgColor); */
}

.btn-set>a {
	padding-top: 8px;
}

.btn-set>div {
	background-color: #666;
	border-color: #000;
	color: #fff;
}

.btn-set>button {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;
	font-size: 1em;
	color: #333;
	font-weight: normal;
	cursor: pointer;
}

.btn-set>input[type=text],
.btn-set>input[type=number],
.btn-set>input[type=date],
.btn-set>input[type=password],
.btn-set>textarea {
	font-size: 1em;
	max-width: 100%;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border: solid 1px var(--elemntBorderColor);
}

.btn-set>span.gap {
	background-color: transparent;
	border: none;
	flex: 1;
}

.btn-set>button,
.btn-set>a,
.btn-set>label.checkbox,
.btn-set>span.menu {
	background-color: #fff;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 90%, rgba(240, 241, 247, 1) 90%);

	user-select: none;

}

.btn-set>input:hover,
.btn-set>label:hover,
.btn-set>button:hover,
.btn-set>a:hover {
	border-color: #999;
	text-decoration: none;
	z-index: 10;
}

.btn-set>button:hover,
.btn-set>a:hover {
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 90%, rgb(200, 200, 200) 90%);
}


.btn-set>input.flex,
.btn-set>button.flex,
.btn-set>a.flex,
.btn-set>label.flex,
.btn-set>span.flex,
.btn-set>textarea.flex {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}


.btn-set>input[disabled],
.btn-set>textarea[disabled] {
	background-color: #eee;
	pointer-events: none;
}

.btn-set>button[disabled] {
	color: #888 !important;
	pointer-events: none;
}

.btn-set>button:active,
.btn-set>a:active {
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 90%, rgba(82, 168, 236, .5) 90%);
}

.btn-set>input[type=text]:focus,
.btn-set>input[type=date]:focus,
.btn-set>input[type=number]:focus,
.btn-set>textarea:focus,
.btn-set>button:focus,
.btn-set>a:focus {
	border-color: rgba(82, 168, 236, .75);
	box-shadow: 0 0 4px rgba(82, 168, 236, .5);
	z-index: 10;
}

.btn-set>button:focus,
.btn-set>a:focus {
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 90%, rgba(82, 168, 236, .5) 90%);
}

.btn-set>a.as-button {
	cursor: default;
	color: var(--fontColor);
}




.btn-set>*.clr-red {
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 90%, rgba(255, 100, 130, .4) 90%);
	color: rgba(180, 30, 40, 1);
	border-color: rgba(230, 80, 100, .3)
}

.btn-set>button.clr-red:hover,
.btn-set>a.clr-red:hover {
	border-color: rgba(180, 42, 50, .4);
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 90%, rgba(240, 90, 120, .5) 90%);
}

.btn-set>button.clr-red:focus,
.btn-set>a.clr-red:focus {
	border-color: rgba(180, 42, 50, .4);
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 90%, rgba(250, 90, 120, 1) 90%);
	box-shadow: 0 0 4px rgba(240, 90, 120, 0.4);
}





.btn-set>*.clr-green {
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 90%, rgba(70, 220, 100, .3) 90%);
	color: rgba(10, 140, 20, 1);
	border-color: rgba(30, 150, 30, .3)
}

.btn-set>button.clr-green:hover,
.btn-set>a.clr-green:hover {
	border-color: rgba(42, 180, 50, .4);
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 90%, rgba(70, 220, 100, .5) 90%);
}

.btn-set>button.clr-green:focus,
.btn-set>a.clr-green:focus {
	border-color: rgba(42, 180, 50, .4);
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 90%, rgba(70, 220, 100, 1) 90%);
	box-shadow: 0 0 4px rgba(70, 220, 100, 0.4);
}

/* #endregion - Components*/


/* #region - Vertical*/
.btn-set.vertical {
	flex-direction: column;
	align-items: flex-start;
}

.btn-set.vertical>* {
	align-self: stretch;
}

.btn-set.vertical>span {
	padding: 10px 0px 0px 0px;
	border: none;
	background-color: transparent;
}

.btn-set.vertical>div {
	padding: 5px 0px 0px 0px;
	background-color: transparent;
	border: none;
	color: #333;
}

.btn-set.vertical>input[type=text],
.btn-set.vertical>input[type=date],
.btn-set.vertical>input[type=password],
.btn-set.vertical>input[type=number] {
	height: 30px;
}

.btn-set.vertical>input[type=text],
.btn-set.vertical>input[type=date],
.btn-set.vertical>input[type=password],
.btn-set.vertical>input[type=number],
.btn-set.vertical>textarea {
	margin-bottom: 5px;
	padding: 6px 6px;
}

/* #endregion - Vertical*/

/* #region - Checkbox*/
.btn-set>label.btn-checkbox {
	padding: 6px 10px;
	height: 16px;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 30px;
}

.btn-set.normal>label.btn-checkbox {
	padding: 1px 7px;
	height: 16px;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 30px;

}

.btn-set.small>label.btn-checkbox {
	padding: 2px 10px;
	height: 17px;
	width: 18px;
	border: none;
	background-color: none;
	background: none;
}

.btn-set>label.btn-checkbox.disabled {
	background-color: #fff;
	pointer-events: none;
}

.btn-set.small>label.btn-checkbox.disabled {
	background-color: none;
	background: none;
	opacity: 0.4;
}


.btn-set>label.btn-checkbox.disabled>span {
	color: #999;
}

.btn-set>label.btn-checkbox>input[type=checkbox] {
	display: none;
}

.btn-set>label.btn-checkbox>span {
	display: inline-block;
	padding-top: 2px;
}

.btn-set.normal>label.btn-checkbox>span {
	display: inline-block;
	padding-top: 1px;
}

.btn-set>label.btn-checkbox>input[type=checkbox]~span:before {
	display: inline-block;
	font-family: "icomoon";
	font-size: 1em;
	width: 16px;
	position: relative;
	top: 8px;
	left: -2px;
	font-weight: normal;
}

.btn-set.small>label.btn-checkbox>input[type=checkbox]~span:before {
	top: 1px;
}


.btn-set>label.btn-checkbox>input[type=checkbox]:checked~span:before {
	color: #06c;
	content: "\e644";
	display: inline-block;
	position: absolute;
	top: px;
	left: 14px;
}

.btn-set.normal>label.btn-checkbox>input[type=checkbox]:checked~span:before {
	color: #06c;
	content: "\e644";
	display: inline-block;
	position: absolute;
	top: 2px;
	left: 10px;

}

.btn-set.small>label.btn-checkbox>input[type=checkbox]:checked~span:before {
	color: #06c;
	content: "\e644";
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 13px;

}

.btn-set>label.btn-checkbox>input[type=checkbox]:not(:checked)~span:before {
	content: " ";
	display: inline-block;
	position: absolute;
	top: 8px;
	left: 13px;
	width: 11px;
	height: 11px;
	border: solid 1px #ccc;
	border-radius: 2px;
}

.btn-set.normal>label.btn-checkbox>input[type=checkbox]:not(:checked)~span:before {
	content: " ";
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 12px;
	width: 11px;
	height: 11px;
	border: solid 1px #ccc;
	border-radius: 2px;
}

.btn-set.small>label.btn-checkbox>input[type=checkbox]:not(:checked)~span:before {
	content: " ";
	display: inline-block;
	position: absolute;
	top: 4px;
	left: 12px;
	width: 11px;
	height: 11px;
	border: solid 1px #ccc;
	border-radius: 2px;
}

/* #endregion - Checkbox*/



/* #region - Sizing*/
.btn-set.small>input,
.btn-set.small>textarea,
.btn-set.small>button {
	padding: 0px 10px 0px 10px;
	height: 25px !important;
}

.btn-set.small>span,
.btn-set.small>div,
.btn-set.small>a {
	padding: 3px 10px 0px 10px;
	height: 25px !important;
	vertical-align: middle;
}

.btn-set.small>input {
	padding: 0px 3px
}

.btn-set.normal>input,
.btn-set.normal>button,
.btn-set.normal>textarea {
	padding: 3px 6px;
	height: 24px;
}

.btn-set.normal>div,
.btn-set.normal>a {
	padding: 3px 6px;
	vertical-align: middle;
	height: 24px;
}

.btn-set.normal>span {
	padding: 2px 6px;
	vertical-align: middle;
	height: 24px;
}

/* #endregion - Sizing*/



/* #region - Special marks*/
.mark-success {
	border: none;
	background-color: #fff !important;
	width: 40px;
	position: relative;
}

.mark-success:before {
	position: absolute;
	font-family: icomoon2;
	content: "\f00c";
	color: rgb(60, 180, 60);
	font-size: 2em;
}

.mark-error {
	border-top: none;
	border-bottom: none;
	background-color: #fff !important;
	width: 40px;
	position: relative;
}

.mark-error:first-child {
	border-left: none;
}

.mark-error:last-child {
	border-right: none;
}

.mark-error:before {
	position: absolute;
	font-family: icomoon4;
	content: "\ea08";
	color: #f03;
	font-size: 2em;
	padding-left: 6px;
}

.mark-lock,
.mark-unlock {
	border-top: none;
	border-bottom: none;
	background-color: #fff !important;
	width: 40px;
	position: relative;
}

.mark-lock:first-child,
.mark-unlock:first-child {
	border-left: none;
}

.mark-lock:last-child,
.mark-unlock:last-child {
	border-right: none;
}

.mark-lock:before,
.mark-unlock:before {
	position: absolute;
	font-family: icomoon4;

	color: #069;
	font-size: 2em;
	padding-left: 6px;
}

.mark-lock:before {
	content: "\e98f";
}

.mark-unlock:before {
	content: "\e990";
}

/* #endregion - Special Marks*/



/* #region - Special Buttons*/
.btn-set>input.btn-add:before,
.btn-set>button.btn-add:before {
	display: inline-block;
	font-family: "icomoon";
	text-align: center;
	content: "\e630";
}

.btn-set>input.btn-add:hover,
.btn-set>button.btn-add:hover {
	color: #06c;
}

.btn-set>input.bnt-edit:before,
.btn-set>button.bnt-edit:before {
	display: inline-block;
	content: "\e62a";
	font-family: "icomoon";
	text-align: center;
}

.btn-set>input.bnt-edit:hover,
.btn-set>button.bnt-edit:hover {
	color: #06c;
}

.btn-set>input.bnt-remove:before,
.btn-set>button.bnt-remove:before,
.btn-set>span.bnt-remove:before,
.btn-set>span.bnt-remove:before {
	display: inline-block;
	content: "\e62b";
	font-family: "icomoon";
	text-align: center;
}

.btn-set>input.bnt-remove:hover,
.btn-set>button.bnt-remove:hover {
	color: #f03;
}

.btn-set>input.bnt-error:before,
.btn-set>button.bnt-error:before,
.btn-set>span.bnt-error:before,
.btn-set>span.bnt-error:before {
	display: inline-block;
	content: "\f00d";
	font-family: "icomoon2";
	text-align: center;
	position: relative;
	top: -1px;
	color: #f03;
}

.btn-set>input.bnt-remove:before,
.btn-set>button.bnt-donwload:before,
.btn-set>span.bnt-remove:before,
.btn-set>span.bnt-donwload:before {
	display: inline-block;
	content: "\e60c";
	font-family: "icomoon";
	text-align: center;
}


.btn-set>input.bnt-forward:before,
.btn-set>button.bnt-forward:before,
.btn-set>a.bnt-forward:before {
	content: "\e61b";
	font-family: "icomoon";
	display: inline-block;
	position: relative;
}

.btn-set>input.bnt-back:before,
.btn-set>button.bnt-back:before,
.btn-set>a.bnt-back:before {
	content: "\e618";
	font-family: "icomoon";
	display: inline-block;
	position: relative;
}

/* #endregion - Special Buttons*/



/* #region - Smart List Object buttons */
.btn-set.vertical>* {
	align-self: stretch;
}

.btn-set>span.cssSLO_wrap {
	background-color: transparent;
	padding: 0px;
	border: none;
}

.btn-set.vertical>span.cssSLO_wrap {
	color: #333;
}

.btn-set.vertical>span.cssSLO_wrap>input[type=text],
.btn-set.vertical>span.cssSLO_wrap>input[type=date],
.btn-set.vertical>span.cssSLO_wrap>input[type=number] {
	padding: 6px 6px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.btn-set>span.cssSLO_wrap>input[type=text],
.btn-set>span.cssSLO_wrap>input[type=date],
.btn-set>span.cssSLO_wrap>input[type=number] {
	height: 100%;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.btn-set>span.cssSLO_wrap>input[type=text].listvisible,
.btn-set>span.cssSLO_wrap>input[type=date].listvisible {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

}

.btn-set>span.cssSLO_wrap>input[type=text].listvisibletop,
.btn-set>span.cssSLO_wrap>input[type=date].listvisibletop {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.btn-set>span.cssSLO_wrap.valid:after,
.btn-set>span.cssSLO_wrap.unvalid:after {
	top: 9px;
	right: 8px;
}

.btn-set.normal>span.cssSLO_wrap.valid:after,
.btn-set.normal>span.cssSLO_wrap.unvalid:after {
	top: 6px;
	right: 6px;
}

.btn-set.normal>span.cssSLO_wrap {
	padding: 0px;
	height: 24px;
}

.btn-set.normal>span.cssSLO_wrap>input[type=text],
.btn-set.normal>span.cssSLO_wrap>input[type=date] {
	padding: 3px 19px 3px 6px;
	height: 24px;
}

.btn-set>input[type=text]:focus,
.btn-set>input[type=date]:focus,
.btn-set>button:focus,
.btn-set>a:focus,
.btn-set>span.cssSLO_wrap>input:focus {
	border-color: rgba(82, 168, 236, .75);
	box-shadow: 0 0 4px rgba(82, 168, 236, .5);
	-moz-box-shadow: 0 0 4px rgba(82, 168, 236, .5);
	-webkit-box-shadow: 0 0 4px rgba(82, 168, 236, .5);
}

/* #endregion */


input[type="number"],
input[type="date"] {
	/* appearance: textfield;
		-webkit-appearance: textfield;
		-moz-appearance: textfield; */
	background-color: #fff !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	/* -webkit-appearance: none;  */
	margin: 0;
}

@media only screen and (max-width: 768px) {
	.btn-set.mediabond-buttonset {
		flex-wrap: wrap;
	}

	.btn-set.mediabond-buttonset>* {
		margin-bottom: 10px;
	}

	.btn-set.mediabond-buttonset>span.gap {
		display: none;
	}

	.btn-set.mediabond-buttonset>span.gap+* {
		margin-left: 0px;
		;
	}
}