.messagesys {
	position: fixed;
	top: 23px;
	left: 0px;
	right: 0px;
	text-align: center;
	pointer-events: none;
	z-index: 110;
}

.messagesys>div {
	display: inline-block;
	max-width: 700px;
	min-width: 100px;
	padding: 20px 30px;
	border: none;
	text-align: left;
	pointer-events: all;
	cursor: default;
	color: #fff;
}

.messagesys>div>span,
.messagesys>div>div {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
}

.messagesys>div>span:before {
	font-family: icomoon2;
	margin-right: 10px;
	position: relative;
	top: 0px;
}

.messagesys>div.success>span:before {
	content: "\f00c";
}

.messagesys>div.success {
	background-color: rgb(60, 180, 60)
}

.messagesys>div.failure>span:before {
	content: "\f00d";
}

.messagesys>div.failure {
	background-color: rgb(220, 60, 60);
}