.btn-set {
	flex-wrap: nowrap;
	-webkit-display: flex;
	display: flex;
	margin-left: .5px;
	margin-right: .5px;
	box-sizing: border-box;
}

.btn-set.center {
	justify-content: center;
}

.btn-set>* {
	padding: 7px 12px 13px 12px;
	outline: none;
	background-color: var(--btnset-static-background-color);
	border: solid 1px var(--btnset-static-border-color);
	height: 32px;
	position: relative;
	margin-left: -.5px;
	margin-right: -.5px;
	white-space: nowrap;
}

/* #region - Components*/

.btn-set>span {
	white-space: nowrap;
	color: var(--color-font);
	/* background-color: var(--color-faint-white); */
}

.btn-set>a,
.btn-set>div,
.btn-set>span {
	padding: 8.5px 12px 11.5px 12px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-set>textarea {
	padding: 7px 6px;
}

.btn-set>div {
	background-color: #666;
	border-color: #000;
	color: #fff;
}

.btn-set>span.gap {
	background-color: transparent;
	border: none;
	flex: 1;
	box-shadow: none;
}




.btn-set>input,
.btn-set>textarea {
	font-size: 1em;
	max-width: 100%;
	border-radius: 0px;
	border: solid 1px var(--btnset-input-border-color);
	background-color: var(--btnset-input-background-color);
}

.btn-set>button,
.btn-set>a {
	font-size: 1em;
	background-color: var(--btnset-botton-background-color);
	color: var(--root-font-color);
	font-weight: normal;
	cursor: pointer;
	border-color: var(--btnset-botton-border-color);
}

.btn-set>input:hover,
.btn-set>label:hover,
.btn-set>button:hover,
.btn-set>textarea:focus,
.btn-set>a:hover {
	border-color: var(--btnset-inputhover-border-color);
	text-decoration: none;
	z-index: 12;
}

.btn-set>input:focus,
.btn-set>label:hover,
.btn-set>button:focus,
.btn-set>textarea:focus,
.btn-set>a:focus {
	border-color: rgba(82, 168, 236, .75);
	-webkit-box-shadow: 0 0 4px rgba(82, 168, 236, .7);
	-moz-box-shadow: 0 0 4px rgba(82, 168, 236, .7);
	box-shadow: 0 0 4px rgba(82, 168, 236, .7);
	z-index: 13;
}

.btn-set>button:hover,
.btn-set>a:hover {
	/* background-image: linear-gradient(180deg, white 90%, rgb(220, 220, 230) 90%); */
	background-color: var(--btnset-bottonhover-background-color);
}




.btn-set>input.flex,
.btn-set>button.flex,
.btn-set>a.flex,
.btn-set>label.flex,
.btn-set>span.flex,
.btn-set>textarea.flex {
	flex: 1;
}


.btn-set input[disabled],
.btn-set textarea[disabled],
.btn-set button[disabled] {
	color: rgba(200, 200, 200, .3) !important;
	background-color: var(--btnset-bottondisabled-background-color);
	pointer-events: none;
	border-color: var(--btnset-static-border-color);
}







.btn-set>button:focus,
.btn-set>a:focus {
	/* background-image: linear-gradient(180deg, var(--color-faint-white) 90%, rgba(82, 168, 236, .5) 90%); */
	background-color: var(--btnset-bottonfocus-background-color);

}


.btn-set>button:active,
.btn-set>a:active {
	box-shadow: 0 0 4px 1px rgba(82, 168, 236, .3);
	/* , inset 1px 2px 4px 0px rgba(0, 0, 0, 0.4); */
	background-color: var(--btnset-bottonactive-background-color);
	padding: 8px 11px 11px 13px;

}

.btn-set>a:active {
	padding: 9.5px 11px 10px 13px;
}



























.btn-set>*.clr-red {
	color: rgba(180, 30, 40, 1);
	border-color: rgba(230, 80, 100, .3)
}

.btn-set>*.clr-red:hover {
	border-color: rgba(180, 42, 50, .4);
	background-color: rgba(255, 180, 200, .05);
}

.btn-set>*.clr-red:focus {
	border-color: rgba(180, 42, 50, .4);
	box-shadow: 0 0 3px 0px rgba(220, 70, 100, 0.4);
	background-color: rgba(255, 180, 200, .05);
}

.btn-set>*.clr-red:active {
	box-shadow: 0 0 4px 1px rgba(220, 70, 100, 0.4);
	background-color: rgba(255, 180, 200, .1);
}



.btn-set>*.clr-green {
	color: rgba(10, 140, 20, 1);
	border-color: rgba(30, 150, 30, .3)
}

.btn-set>*.clr-green:hover {
	border-color: rgba(42, 180, 50, .4);
	background-color: rgba(180, 255, 200, .05);
}

.btn-set>*.clr-green:focus {
	border-color: rgba(42, 180, 50, .4);
	box-shadow: 0 0 3px 0px rgba(70, 220, 100, 0.4);
	background-color: rgba(180, 255, 200, .05);
}

.btn-set>*.clr-green:active {
	box-shadow: 0 0 4px 1px rgba(70, 220, 100, 0.4);
	background-color: rgba(180, 255, 200, .1);
}

/* #endregion - Components*/









/* #region - Vertical*/
.btn-set.vertical {
	flex-direction: column;
	align-items: flex-start;
}

.btn-set.vertical>* {
	align-self: stretch;
}

.btn-set.vertical>span {
	padding: 10px 0px 0px 0px;
	border: none;
	background-color: transparent;
}

.btn-set.vertical>div {
	padding: 5px 0px 0px 0px;
	background-color: transparent;
	border: none;
	color: #333;
}

.btn-set.vertical>input[type=text],
.btn-set.vertical>input[type=date],
.btn-set.vertical>input[type=password],
.btn-set.vertical>input[type=number] {
	height: 30px;
}

.btn-set.vertical>input[type=text],
.btn-set.vertical>input[type=date],
.btn-set.vertical>input[type=password],
.btn-set.vertical>input[type=number],
.btn-set.vertical>textarea {
	margin-bottom: 5px;
	padding: 6px 6px;
}

/* #endregion - Vertical*/

/* #region - Checkbox*/
.btn-set>label.btn-checkbox {
	padding: 7px 10px;
	height: 16px;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 30px;
}

.btn-set.normal>label.btn-checkbox {
	padding: 1px 7px;
	height: 16px;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 30px;

}

.btn-set.small>label.btn-checkbox {
	padding: 2px 10px;
	height: 17px;
	width: 18px;
	border: none;
	background-color: none;
	background: none;
}

.btn-set>label.btn-checkbox.disabled {
	background-color: #fff;
	pointer-events: none;
}

.btn-set.small>label.btn-checkbox.disabled {
	background-color: none;
	background: none;
	opacity: 0.4;
}


.btn-set>label.btn-checkbox.disabled>span {
	color: #999;
}

.btn-set>label.btn-checkbox>input[type=checkbox] {
	display: none;
}

.btn-set>label.btn-checkbox>span {
	display: inline-block;
	padding-top: 2px;
}

.btn-set.normal>label.btn-checkbox>span {
	display: inline-block;
	padding-top: 1px;
}

.btn-set>label.btn-checkbox>input[type=checkbox]~span:before {
	display: inline-block;
	font-family: "icomoon";
	font-size: 1em;
	width: 16px;
	position: relative;
	top: 8px;
	left: -2px;
	font-weight: normal;
}

.btn-set.small>label.btn-checkbox>input[type=checkbox]~span:before {
	top: 1px;
}


.btn-set>label.btn-checkbox>input[type=checkbox]:checked~span:before {
	color: #06c;
	content: "\e644";
	display: inline-block;
	position: absolute;
	top: px;
	left: 14px;
}

.btn-set.normal>label.btn-checkbox>input[type=checkbox]:checked~span:before {
	color: #06c;
	content: "\e644";
	display: inline-block;
	position: absolute;
	top: 2px;
	left: 10px;

}

.btn-set.small>label.btn-checkbox>input[type=checkbox]:checked~span:before {
	color: #06c;
	content: "\e644";
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 13px;

}

.btn-set>label.btn-checkbox>input[type=checkbox]:not(:checked)~span:before {
	content: " ";
	display: inline-block;
	position: absolute;
	top: 8px;
	left: 13px;
	width: 11px;
	height: 11px;
	border: solid 1px #ccc;
	border-radius: 2px;
}

.btn-set.normal>label.btn-checkbox>input[type=checkbox]:not(:checked)~span:before {
	content: " ";
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 12px;
	width: 11px;
	height: 11px;
	border: solid 1px #ccc;
	border-radius: 2px;
}

.btn-set.small>label.btn-checkbox>input[type=checkbox]:not(:checked)~span:before {
	content: " ";
	display: inline-block;
	position: absolute;
	top: 4px;
	left: 12px;
	width: 11px;
	height: 11px;
	border: solid 1px #ccc;
	border-radius: 2px;
}

/* #endregion - Checkbox*/

/* #region - Sizing*/
.btn-set.small>input,
.btn-set.small>textarea,
.btn-set.small>button {
	padding: 0px 10px 0px 10px;
	height: 25px !important;
}

.btn-set.small>span,
.btn-set.small>div,
.btn-set.small>a {
	padding: 3px 10px 0px 10px;
	height: 25px !important;
	vertical-align: middle;
}

.btn-set.small>input {
	padding: 0px 3px
}

.btn-set.normal>input,
.btn-set.normal>button,
.btn-set.normal>textarea {
	padding: 3px 6px;
	height: 24px;
}

.btn-set.normal>div,
.btn-set.normal>a {
	padding: 3px 6px;
	vertical-align: middle;
	height: 24px;
}

.btn-set.normal>span {
	padding: 2px 6px;
	vertical-align: middle;
	height: 24px;
}

/* #endregion - Sizing*/

/* #region - Special marks*/
.mark-success {
	border: none;
	background-color: #fff !important;
	width: 40px;
	position: relative;
}

.mark-success:before {
	position: absolute;
	font-family: icomoon2;
	content: "\f00c";
	color: rgb(60, 180, 60);
	font-size: 2em;
}

.mark-error {
	border-top: none;
	border-bottom: none;
	background-color: #fff !important;
	width: 40px;
	position: relative;
}

.mark-error:first-child {
	border-left: none;
}

.mark-error:last-child {
	border-right: none;
}

.mark-error:before {
	position: absolute;
	font-family: icomoon4;
	content: "\ea08";
	color: #f03;
	font-size: 2em;
	padding-left: 6px;
}

.mark-lock,
.mark-unlock {
	border-top: none;
	border-bottom: none;
	background-color: #fff !important;
	width: 40px;
	position: relative;
}

.mark-lock:first-child,
.mark-unlock:first-child {
	border-left: none;
}

.mark-lock:last-child,
.mark-unlock:last-child {
	border-right: none;
}

.mark-lock:before,
.mark-unlock:before {
	position: absolute;
	font-family: icomoon4;

	color: #069;
	font-size: 2em;
	padding-left: 6px;
}

.mark-lock:before {
	content: "\e98f";
}

.mark-unlock:before {
	content: "\e990";
}

/* #endregion - Special Marks*/

/* #region - Special Buttons*/
.btn-set>input.btn-add:before,
.btn-set>button.btn-add:before {
	display: inline-block;
	font-family: "icomoon";
	text-align: center;
	content: "\e630";
}

.btn-set>input.btn-add:hover,
.btn-set>button.btn-add:hover {
	color: #06c;
}

.btn-set>input.bnt-edit:before,
.btn-set>button.bnt-edit:before {
	display: inline-block;
	content: "\e62a";
	font-family: "icomoon";
	text-align: center;
}

.btn-set>input.bnt-edit:hover,
.btn-set>button.bnt-edit:hover {
	color: #06c;
}

.btn-set>input.bnt-remove:before,
.btn-set>button.bnt-remove:before,
.btn-set>span.bnt-remove:before,
.btn-set>span.bnt-remove:before {
	display: inline-block;
	content: "\e62b";
	font-family: "icomoon";
	text-align: center;
}

.btn-set>input.bnt-remove:hover,
.btn-set>button.bnt-remove:hover {
	color: #f03;
}

.btn-set>input.bnt-error:before,
.btn-set>button.bnt-error:before,
.btn-set>span.bnt-error:before,
.btn-set>span.bnt-error:before {
	display: inline-block;
	content: "\f00d";
	font-family: "icomoon2";
	text-align: center;
	position: relative;
	top: -1px;
	color: #f03;
}

.btn-set>input.bnt-remove:before,
.btn-set>button.bnt-donwload:before,
.btn-set>span.bnt-remove:before,
.btn-set>span.bnt-donwload:before {
	display: inline-block;
	content: "\e60c";
	font-family: "icomoon";
	text-align: center;
}


.btn-set>input.bnt-forward:before,
.btn-set>button.bnt-forward:before,
.btn-set>a.bnt-forward:before {
	content: "\e61b";
	font-family: "icomoon";
	display: inline-block;
	position: relative;
}

.btn-set>input.bnt-back:before,
.btn-set>button.bnt-back:before,
.btn-set>a.bnt-back:before {
	content: "\e618";
	font-family: "icomoon";
	display: inline-block;
	position: relative;
}

/* #endregion - Special Buttons*/

/* #region - Smart List Object buttons */
.btn-set.vertical>* {
	align-self: stretch;
}

.btn-set>span.slo-wrap {
	background-color: transparent;
	padding: 0px;
	border: none;
}

.btn-set.vertical>span.slo-wrap {
	color: #333;
}

.btn-set.vertical>span.slo-wrap>input[type=text],
.btn-set.vertical>span.slo-wrap>input[type=date],
.btn-set.vertical>span.slo-wrap>input[type=number] {
	padding: 6px 6px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.btn-set>span.slo-wrap>input[type=text],
.btn-set>span.slo-wrap>input[type=date],
.btn-set>span.slo-wrap>input[type=number] {
	height: 100%;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.btn-set>span.slo-wrap.valid:after,
.btn-set>span.slo-wrap.unvalid:after {
	top: 9px;
	right: 8px;
}

.btn-set.normal>span.slo-wrap.valid:after,
.btn-set.normal>span.slo-wrap.unvalid:after {
	top: 6px;
	right: 6px;
}

.btn-set.normal>span.slo-wrap {
	padding: 0px;
	height: 24px;
}

.btn-set.normal>span.slo-wrap>input[type=text],
.btn-set.normal>span.slo-wrap>input[type=date],
.btn-set.normal>span.slo-wrap>input[type=number] {
	padding: 3px 19px 3px 6px;
	height: 24px;
}


/* #endregion */

/* #region - Pagination */
.btn-set>button.pagination {
	min-width: 45px;
	position: relative;
}

.btn-set>button.pagination::before {
	font-family: "icomoon";
	position: absolute;
	pointer-events: none;
	content: "";
	display: block;
	text-align: center;
	width: 20px;
	height: 20px;
	top: 6px;
	right: 11px;
	font-size: 17px;
}

.btn-set>button.pagination.next:before {
	content: "\e61B";
}

.btn-set>button.pagination.prev:before {
	content: "\E618";
}

/* #endregion */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	/* -webkit-appearance: none;  */
	margin: 0;
}

@media only screen and (max-width: 768px) {
	.btn-set.mediabond-buttonset {
		flex-wrap: wrap;
	}

	.btn-set.mediabond-buttonset>* {
		margin-bottom: 10px;
	}

	.btn-set.mediabond-buttonset>span.gap {
		display: none;
	}

	.btn-set.mediabond-buttonset>span.gap+* {
		margin-left: 0px;
		;
	}
}