.crm-panel div {
	display: flex;
	line-height: 1.5em;
}

.crm-panel div>h1 {
	font-size: 1em;
	font-weight: normal;
	flex: 1;
	margin: 0;
	padding: 0;
}

.crm-panel div>cite {
	font-style: normal;
	color: var(--root-font-lightcolor);
}

