.invoicing div {
	display: flex;
	line-height: 1.5em;
}

.invoicing div > h1 {
	font-size: 1em;
	font-weight: normal;
	flex: 1;
	margin: 0;
	padding: 0;
}

.invoicing .price-padge {
	display: inline-block;
	margin: 3px 0px;
	color: white;
	background-color: var(--button-border);
	padding: 3px 7px;
	border-radius: 5px;
}

.invoicing div > cite {
	font-style: normal;
	color: var(--root-font-lightcolor);
}




#jQWOBuilder > tr > td:nth-child(2) {
	text-align: right;
}

.counter > i {
	font-style: normal;
}


input.numberField {
	text-align: right;
	border: none;
	background-color: transparent;
	color: var(--root-link-color);
	margin: 0;
	padding: 9px;
	border-radius: var(--input_border-radius);
	border: solid 1px var(--input_border-color);
	width: 100%;
	color: var(--root-font-color);
	font-size: 1em;

	&:disabled {
		background-color: var(--button_disabled-bgcolor);

	}

	&:hover {
		border-color: var(--input-hover_border-color);
		z-index: 12;
	}

	&:focus {
		border-color: var(--input-active_border-color);
		z-index: 13;
	}
}


.css_partofbom {
	color: #888;
}

tr.partsElement > td {
	background-color: var(--slo-menu-itemhover-background-color);
}

tr.partsRoot > td {
	border-bottom: solid 2px var(--bomtable-border-color);
}

.boundedPartQty {
	text-align: right;
	padding-right: 10px;
}

.partOf > td {
	color: var(--root-font-lightcolor);
}

.subMaterial {
	width: 100%;
	white-space: wrap;
	line-height: 1em
}

.subMaterial > span {
	color: var(--root-font-lightcolor);
}

.subMaterial > div,
.subMaterial > span {
	display: block;
	margin-bottom: 10px;
}

#appMaterialsTable > tbody > tr > td:nth-child(4) {
	width: 100%;
}