.invoicing div {
	display: flex;
	line-height: 1.5em;
}

.invoicing div > h1 {
	font-size: 1em;
	font-weight: normal;
	flex: 1;
	margin: 0;
	padding: 0;
}

.invoicing div > h1 .light {
	color: var(--root-font-lightcolor);
}

.invoicing .price-padge {
	display: inline-block;
	margin: 3px 0px;
	color: white;
	background-color: var(--button-border);
	padding: 3px 7px;
	border-radius: 5px;
}

.invoicing div > cite {
	font-style: normal;
	color: var(--root-font-lightcolor);
	overflow: hidden;
	max-width: 150px;
	text-overflow: ellipsis;
	white-space: nowrap;
}




#jQWOBuilder > tr > td:nth-child(2) {
	text-align: right;
}

.counter > i {
	font-style: normal;
}





.css_partofbom {
	color: #888;
}

main.partsElement > div {
	background-color: var(--slo-menu-itemhover-background-color);
}

main.partsRoot > div {
	border-bottom: solid 2px var(--bomtable-border-color);
}

.boundedPartQty {
	text-align: right;
	padding-right: 10px;
}

.partOf > div {
	color: var(--root-font-lightcolor) !important;
}

.subMaterial {
	width: 100%;
	white-space: wrap;
	line-height: 1em
}

.subMaterial > span {
	color: var(--root-font-lightcolor);
}

.subMaterial > div,
.subMaterial > span {
	display: block;
	margin-bottom: 10px;
}

#appMaterialsTable > tbody > tr > td:nth-child(4) {
	width: 100%;
}

.table.local230 {
	grid-template-columns: minmax(50px, auto) auto   1fr  auto;
}