:root {
	--widget_height: 180px;
}

.dashboard {
	display: flex;
	flex-wrap: wrap;
}

.dashboard>div {
	margin: 10px;
	cursor: default;

	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
	background-color: var(--root-ribbon-menu-background-color);
	border-radius: 10px;
	padding:20px;
}

.dashboard>div>div {
	padding: 0px;
	position: relative;
}