tr.employee-photo,
td.employee-photo,
td.elapsed>span {
	display: none;
}



.bom-table.local-force>thead {
	display: none;
}

.bom-table.local-force>tbody,
.bom-table.local-force {
	display: block;
	border: none;
}

td.employee-photo>div {
	display: inline-block;
	background-position: 50% 50%;
	background-size: 120px auto;
	background-repeat: no-repeat;
	height: 120px;
	width: 120px;
	border-radius: 10px;
	border: none;
}

.bom-table.local-force>tbody>tr>td.elapsed {
	color: #06c;
}

.bom-table.local-force>tbody>tr>td.elapsed>span {
	display: inline-block;
	color: #888;
	padding-right: 24px;
}

.bom-table.local-force>tbody>tr {
	display: inline-block;
	min-width: 100px;
	margin: 10px;
	padding: 20px;
	border: solid 1px var(--root-ribbon-menu-background-color);
	background-color: var(--btnset-static-background-color);
	/* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 80%, rgba(245, 245, 253, .4) 100%); */
}

.bom-table.local-force>tbody>tr>td {
	display: block;
	border: none;
	padding: 2px;
	min-height: auto;
	text-align: center;
	background-color: var(--btnset-static-background-color);

}

.bom-table.local-force>tbody>tr>td:nth-child(4) {
	padding-bottom: 16px;
}

.bom-table.local-force>tbody>tr>td:nth-child(1),
.bom-table.local-force>tbody>tr>td:last-child {
	display: none;
}

.bom-table.local-force>tbody>tr>td.mediabond-ignore {
	display: none;
}

.bom-table.local-force>tbody>tr>td.emplyee-name {
	max-width: 130px;
	width: 130px;
	text-overflow: ellipsis;
	overflow-x: hidden;
}



@media only screen and (max-width: 624px) {
	#btn-card_view {
		display: none;
	}

	.bom-table.local-mediabond-table>thead {
		display: none;
	}

	.bom-table.local-mediabond-table>tbody,
	.bom-table.local-mediabond-table {
		display: block;
		border: none;
	}

	td.employee-photo>div {
		display: inline-block;
		background-position: 50% 50%;
		background-size: 120px auto;
		background-repeat: no-repeat;
		height: 120px;
		width: 120px;
		border-radius: 10px;
		border: none;
	}

	.bom-table.local-mediabond-table>tbody>tr>td.elapsed {
		color: #06c;
	}

	.bom-table.local-mediabond-table>tbody>tr>td.elapsed>span {
		display: inline-block;
		color: #888;
		padding-right: 24px;
	}

	.bom-table.local-mediabond-table>tbody>tr {
		display: inline-block;
		min-width: 100px;
		margin: 5px;
		padding: 14px;
	}

	.bom-table.local-mediabond-table>tbody>tr>td {
		display: block;
		border: none;
		padding: 2px;
		min-height: auto;
		text-align: center;
	}

	.bom-table.local-mediabond-table>tbody>tr>td:nth-child(4) {
		padding-bottom: 16px;
	}

	.bom-table.local-mediabond-table>tbody>tr>td:nth-child(1),
	.bom-table.local-mediabond-table>tbody>tr>td:last-child {
		display: none;
	}

	.bom-table.local-mediabond-table>tbody>tr>td.mediabond-ignore {
		display: none;
	}

	.bom-table.local-mediabond-table>tbody>tr>td.emplyee-name {
		max-width: 130px;
		width: 130px;
		text-overflow: ellipsis;
		overflow-x: hidden;
	}

}