.table-head {
	position: sticky;
}

.table-head::before {
	position: absolute;
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	margin-top: -2px;
	border-bottom: double 3px var(--bomtable-border-color);
}


